.login-container {
  background-color: #1c1919;
  color: rgba(255, 255, 255, 0.77);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .login-form {
    font-family: serif;
    font-style: italic;
    font-size: 2rem;
    max-width: 500px;
    width: 90%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow: 3px 3px 15px -5px #b08568;
    //box-shadow: 0px 5px 15px -2px rgb(0, 0, 0);
    border-radius: 25px;
    transition: transform 0.7s ease, opacity 0.7s ease;
    transform-origin: bottom;
    p {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }

    .login-input {
      background-color: #1c1919;
      color: rgba(255, 255, 255, 0.645);
      border: none;
      outline: none;
      padding: 10px;
      font-size: 1rem;
      margin-bottom: 0;

      &::placeholder {
        color: white;
        font-size: 1rem;
      }
    }

    .input-div {
      width: 100%;
      border-bottom: 2px solid #b08568;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .eye-icon {
        font-size: 1rem;
        padding-right: 1rem;
      }
    }

    .forgot-password {
      margin-right: 12.1rem;
      color: #b0856885;
      font-size: 1.4rem;

      &:hover {
        color: #c53932;
      }
    }

    .login-div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .register {
        color: #b0856885;
        font-size: 1.4rem;
        margin-top: 1rem;
      }

      .login-button {
        background-color: #1c1919;
        width: 150px;
        height: 50px;
        padding: 0;
        border-radius: 10px;
        border: 1px solid #c89a7aa0;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease-in;
        z-index: 0;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
          top: 0;
          width: 0;
          height: 100%;
          transform: skew(15deg);
          transition: all 0.5s;
          overflow: hidden;
          z-index: -1;
        }

        &:hover::before,
        &:hover::after {
          width: 58%;
        }

        &:hover span {
          color: #0f0206;
          transition: 0.3s;
        }
        span {
          color: #fdf9f6;
          font-family: serif;
          font-size: 1.6rem;
          transition: all 0.3s ease-in;
        }
        &::before {
          left: -12px;
          background: #e0ac8999;
        }

        &::after {
          right: -12px;
          background: #e0ac8999;
        }
      }
    }
  }
  .error-message {
    display: flex;
    gap: 1rem;
    max-width: 500px;
    width: 90%;
    margin-bottom: 2rem;
    text-align: left;
    box-shadow: 1px 1px 4px #b08568;
    border-radius: 15px;
    padding-block: 1rem;

    .error-icon {
      color: #c53932;
      font-size: 3.5rem;
      margin-left: 2rem;
    }
    div {
      span {
        font-size: 1.5rem;
        color: #c53932;
      }
      p {
        font-size: 1.2rem;
        margin-top: 1rem;
      }
    }
  }
}
