@keyframes myImgBackAnim {
  0% {
    animation-timing-function: ease-in-out;
    opacity: 0;
    transform: translateX(45px);
  }
  100% {
    animation-timing-function: ease-in-out;
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes myImgAnim {
    0% {
      animation-timing-function: linear;
      transform: translateX(0px);
    }
    100% {
      animation-timing-function: linear;
      opacity: 1;
      transform: translateX(0px);
    }
  }

//   text Animation
@keyframes myTextAnim {
  0% {
    animation-timing-function: ease-out;
    opacity: 0;
    transform: translateY(105px);
  }

50%{
    animation-timing-function: ease-out;
    opacity: 0.5;
}
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
// background Animation
  @keyframes myBackgroundAnim {
    0% {
      animation-timing-function: ease-in-out;
      opacity: 0;
      transform: translateY(900px);
    }
    100% {
      animation-timing-function: ease-in-out;
      opacity: 1;
      transform: translateY(0px);
    }
  }

//   Animation Implementation
.backgroundAnim{
    background-color: #343332;
}
.servicebody {
    opacity: 0;
    animation: myBackgroundAnim 1s ease 0s 1 normal forwards;
    @media screen and (max-width: 990px) {
  animation: none;
  opacity: 1;
            }
 
    .header-p {
        opacity: 0;
      animation: myTextAnim 1s ease 0s 1 normal forwards;
      animation-delay: 2s;
      @media screen and (max-width: 990px) {
animation-delay: 0s;
                  }
    }

.imagediv{
    opacity: 0;
    background-color: #C68F68;
    animation: myImgBackAnim 1s ease 0s 1 normal forwards;
    animation-delay: 1s;
    @media screen and (max-width: 1074px) {
      animation: none;
      opacity: 1;
                }
}
    img {
        opacity: 0;
      animation: myImgAnim 1s ease 0s 1 normal forwards;
      animation-delay: 2s;
      @media screen and (max-width: 990px) {
        animation: none;
        opacity: 1;
                  }
    }
  }

