@keyframes fadeEffect {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.cart-container.animating {
  animation-name: fadeEffect;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.cart-container {
  background-color: #1c1919;
  color: rgba(255, 255, 255, 0.77);
  height: 80vh;
  width: 100%;
  padding: 7rem;
  display: grid;
  grid-template-columns: auto 300px;
  gap: 4rem;
  position: fixed;
  top: 4rem;
  left: 0;
  right: 0;
  margin: 1rem 0;
  max-width: 100%;
  box-shadow: 3px 3px 15px -5px #b08568;
  overflow: auto;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 1rem;
    box-shadow: none;
  }

  @media (max-width: 768px) {
    padding: 1rem;
  }

  @media (max-width: 576px) {
    padding: 0.5rem;
  }

  /* Style the scrollbar */
  &::-webkit-scrollbar {
    width: 5px; /* Set the width of the scrollbar */
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #1c1919; /* Color of the track */
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #b08568; /* Color of the scroll thumb */
    border-radius: 10px; /* Rounded corners */
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #927f6d; /* Darker color when the handle is hovered */
  }
}

.cart-header {
  margin: 2rem 0;
  grid-column: span 2;

  h1 {
    font-size: 2.5rem;
    text-align: left;
    border-bottom: 1px solid #f7bd84;
    line-height: 1.3em;
    padding-bottom: 0.5rem;

    @media (max-width: 1200px) {
      font-size: 2rem;
    }

    @media (max-width: 992px) {
      margin: 1rem 0;
    }

    @media (max-width: 576px) {
      font-size: 1.5rem;
    }
  }
}

.cart-items {
  .cart-item {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #b08568;
    padding: 1rem 0;

    .product-details {
      display: flex;
      gap: 1rem;

      img {
        width: 100px;
        height: 100px;
        object-fit: cover;
      }

      h2 {
        font-size: 1.25rem;
      }

      p {
        font-size: 1rem;
        color: #666;
      }

      .remove-button {
        border: none;
        background-color: transparent;
        color: #fdbf6f;
        cursor: pointer;
        text-decoration: underline;
        padding: 0.5rem;

        &:hover {
          color: #cac5bd;
          text-decoration: none;
        }
      }
    }

    .cartProductAddRemove {
      background-color: #87581c;
      margin: 0.75rem;
      border-radius: 50%;
      width: 2.5rem;
      height: 2.5rem;
    }

    .price,
    .quantity,
    .total {
      text-align: center;
      font-size: 1.125rem;
    }

    @media (max-width: 992px) {
      grid-template-columns: 1fr 1fr;

      .product-details {
        flex-direction: column;
        align-items: center;
      }
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;

      .product-details img {
        width: 80px;
        height: 80px;
      }

      .cartProductAddRemove {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}

.promotion-code {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1rem 0;

  input {
    flex-grow: 1;
    padding: 0.5rem;
  }

  .apply-button {
    padding: 0.5rem 1rem;
    border: none;
    background-color: #b08568;
    color: white;
    cursor: pointer;
    background: linear-gradient(45deg, #b08568, #fdbf6f);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;

    &:hover {
      background: linear-gradient(45deg, #fdbf6f, #b08568);
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: stretch;
  }
}

.order-summary {
  margin-top: 2rem;

  h2 {
    font-size: 1.25rem;
    border-bottom: 1px solid #f7bd84;
    line-height: 1.8em;
    text-align: left;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
  }

  .subtotal,
  .total {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: left;

    span {
      font-size: 1.125rem;
    }
  }

  .checkout-button,
  .clear-cart-button {
    width: 90%;
    border-radius: 12px;
    margin-top: 1rem;
    padding: 0.75rem;
    border: none;
    color: white;
    font-size: 1.125rem;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: serif;
    font-style: italic;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 0;
    background: linear-gradient(45deg, #6a1b9a, #ab47bc);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 0;
      height: 100%;
      transform: skew(15deg);
      transition: all 0.5s;
      overflow: hidden;
      z-index: -1;
    }

    &:hover::before,
    &:hover::after {
      width: 58%;
    }

    &:hover span {
      color: #0f0206;
      transition: 0.3s;
    }

    span {
      color: #fdf9f6;
      font-family: serif;
      font-size: 18px;
      transition: all 0.3s ease-in;
    }
  }

  .checkout-button {
    background: linear-gradient(45deg, #2d8b30, #81c784);
    color: #382307;

    &::before {
      left: -12px;
    }

    &::after {
      right: -12px;
      color: black;
    }

    &:hover {
      text-transform: uppercase;
      background: linear-gradient(45deg, #388e3c, #2e7d32);
      color: black;
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
      background: grey;
      color: #999999;
      cursor: not-allowed;
      box-shadow: none;

      &:hover {
        background: grey;
        color: #999999;
        transform: none;
      }
    }
  }

  .clear-cart-button {
    background: linear-gradient(45deg, #973b3b, #e27553);
    color: white;
    margin-top: 1rem;

    &::before {
      left: -10px;
    }

    &::after {
      right: -10px;
      color: black;
      text-transform: uppercase;
    }

    &:hover {
      text-transform: uppercase;
      background: linear-gradient(45deg, #b71c1c, #c62828);
      color: black;
      transform: translateY(-2px);
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    }

    &:disabled {
      background: grey;
      color: #999999;
      cursor: not-allowed;
      box-shadow: none;

      &:hover {
        background: grey;
        color: #999999;
        transform: none;
      }
    }
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 1rem;
    order: 2; /* Move order summary below cart items */
  }
}

.hidden {
  display: none;
}

.empty-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  max-height: 300px;
  border: 2px solid #f9c29d;
  padding: 2rem;
  border-radius: 12px;
  background-color: #2c2a2a;
  color: #fff;

  p {
    margin-bottom: 7rem;
    font-size: 2.5rem;
  }

  @media (max-width: 768px) {
    max-width: 90%;
    padding: 1.5rem;

    p {
      font-size: 1.25rem;
    }
  }

  @media (max-width: 576px) {
    max-width: 90%;
    padding: 1rem;

    p {
      font-size: 1rem;
    }
  }
}
.cart-container {
  .continue-shopping-button {
    top: 12rem;
    position: relative;
    max-width: 8rem;
    text-align: center;
    max-height: 4rem;
    margin-left: 9.4rem;
    padding: 0.4rem 1rem; /* Smaller width and height */
    border: none;
    background-color: #b08568;
    color: white;
    cursor: pointer;
    background: linear-gradient(45deg, #b08568, #fdbf6f);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    margin-top: 1fr;
    margin-right: 4rem;
    font-size: 1rem; /* Adjusted font size */
    z-index: 10;

    /* Centering the button */
    position: absolute;
    bottom: 1rem;
    left: 1%;
    transform: translateX(-2%);
  }

  .continue-shopping-button:hover {
    background: linear-gradient(45deg, #362207, #6e330e);
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 576px) {
    .continue-shopping-button {
      margin-right: 0.1rem;
      padding: 0.4rem 0.8rem; /* Adjusted for smaller screens */
      font-size: 0.875rem; /* Adjusted font size for smaller screens */
    }
  }
}
