.resetPassword-div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Success-message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;

    p {
      font-size: 1.6rem;
      letter-spacing: 0.2rem;
      word-spacing: 0.3rem;
      padding: 0.5rem 1rem;
    }
  }
  .resetPassword-form {
    font-family: serif;
    font-style: italic;
    max-width: 500px;
    width: 90%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 15px -5px #b08568;
    border-radius: 25px;

    .error-message {
      background-color: #32251d6b;
      color: red;
      padding: 0.5rem 1rem;
      margin-left: 1rem;
    }

    .resetPassword-input {
      background-color: #1c1919;
      color: rgba(255, 255, 255, 0.645);
      border: none;
      outline: none;
      padding: 10px;
      margin-bottom: 0;

      &::placeholder {
        color: white;
        font-size: 1rem;
      }
    }
    .input-div {
      width: 100%;
      border-bottom: 2px solid #b08568;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 1rem;

      .eye-icon {
        font-size: 1rem;
        padding-right: 1rem;
      }
    }

    button {
      padding: 8px;
      width: 100%;
      margin-top: 1rem;
      font-size: 1.2rem;
      background-color: #b08568d3;
      border-radius: 10px;
      border: #b08568 solid 2px;
      margin-top: 2rem;
      &:hover {
        background-color: #b08568;
        border: #ffffff5e solid 2px;
      }
    }
  }
}
