.booking-confirmations {
  // position: fixed;
  // top: 2rem;
  // position: fixed;
  // left: 0;
  // right: 0;
  margin-top: 3rem;
  max-width: 100%;
  max-height: 100%;
  padding: 2rem 0;
  background-color: #1c1919;
  color: rgba(255, 255, 255, 0.77);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .booking-border{
    width: 100%;
    height: 70%;
    padding: 3rem;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  box-shadow: 0 4px 15px -5px rgba(176, 133, 104, 0.8);

}

  h1 {
    font-size: 40px;
    text-align: center;
    width: 25vw;
    border-bottom: 2px solid #b08568;
    line-height: 1.6em;
    margin-bottom: 1.5rem;
    color: #fff;
  }

  .booking-container {
    width: 90%;
    max-width: 960px;
    display: flex;
    flex-direction: column;
  
    gap: 20px;
    padding-bottom: 20px;
    margin-bottom: 1.5rem;
    li{
      list-style: decimal;
      font-size: 18px;
    }
   span {
      font-size: 24px;
      margin-bottom: 10px;
      color: #b08568;
    }
    
    .booking-details {
        border-bottom: 2px solid #895e42;
        padding-bottom: 10px;
        display: flex;
        gap: 15px;
        align-items: flex-start;
        margin-bottom: 10px;
      
    }

  }
}


    span {
      font-size: 20px;
      color: #fff;
    }
  


@media (max-width: 982px) {
  .booking-confirmations{

    h1{
      font-size: 20px;
    }
    .booking-container {
      padding: 20px;
      li{
        font-size: 16px;
      }
      span{
        font-size: 17px;
      }
    }
  }

}
