.menu {
  background-color: #1c1919;
  font-family: serif;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-size: 1.7rem;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.7s ease, opacity 0.7s ease;
  transform-origin: top;

  ul {
    display: flex;
    list-style: none;
    gap: 3rem;

    @media (max-width: 768px) {
      flex-direction: column;
      text-align: center;
      gap: 2rem;
    }
    @media (max-width: 1024px) {
      gap: 2rem;
    }
    .link {
      text-decoration: none;
      color: white;
      li {
        position: relative;
        padding-bottom: 10px;
        &::before {
          // Pseudo-element for the border animation
          content: "";
          position: absolute;
          bottom: 0;
          left: 0; // Initial position at left
          width: 0; // Initial width 0
          height: 2px; // Border height

          background-color: #b08568; // Border color
          transition: width 0.3s ease; // Transition effect
        }
        &:hover::before {
          // Change width on hover
          width: 100%; // Full width on hover
        }
      }
    }
  }
}

.active {
  transform: translateY(0%);
  opacity: 1;
  // transition: ;
}

.hidden {
  transform: translateY(-90%);
  opacity: 0;
  // transition: ;
  // display: none;
}
