::-webkit-scrollbar:not(.menu) {
  display: none;
}
.menu {
  background-color: #1c1919;
  font-family: serif;
  font-style: italic;
  letter-spacing: 0.2rem;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;

  animation: slideDown 1.5s ease-out forwards;
  // transition: transform 0.7s ease, opacity 0.7s ease;

  transform-origin: top;
  overflow: hidden;

  ul {
    display: flex;
    list-style: none;
    gap: 3rem;

    @media (max-width: 1024px) {
      flex-direction: column;
      text-align: center;
    }
    .link {
      text-decoration: none;
      color: white;
      li {
        position: relative;
        padding-bottom: 10px;
        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 0;
          height: 2px;

          background-color: #b08568;
          transition: width 0.3s ease;
        }
        &:hover::before {
          width: 100%;
        }
      }
    }
  }
}

.active {
  opacity: 1;
}

.hidden {
  opacity: 0;

}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }

}
