.about-container {
  font-size: 2rem;

  .about-hero {
    margin-block: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    // opacity: 0;
    // animation: slideUpFromBottom 1s ease-out forwards;
    // animation-delay: 0.5s;
    img {
      width: 750px;
      @media screen and (max-width: 768px) {
        width: 90%;
      }
      @media screen and (max-width: 576px) {
        width: 100%;
      }
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
  .about-content {
    border: white 3rem solid;
    background-image: url("../../assets/about-page.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: left;
    @media screen and (max-width: 768px) {
      border: white 1rem solid;
    }

    .inner-div-content {
      padding-block: 5rem;
      width: 50%;

      @media screen and (max-width: 1280px) {
        width: 80%;
        font-size: 1rem;
      }
      @media screen and (max-width: 768px) {
        width: 100%;
        font-size: 1rem;
      }
      h2 {
        font-size: 4rem;
        padding-left: 3rem;
        @media screen and (max-width: 768px) {
          font-size: 2.5rem;
          padding-left: 2rem;
        }
      }

      p {
        font-size: 1.5rem;
        margin-top: 2rem;
        padding-left: 5rem;
        line-height: 2.5rem;
        @media screen and (max-width: 576px) {
          font-size: 1.2rem;
          padding-inline: 2rem;
        }
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #584030;
      transition: color 0.5s ease;
    }
    span {
      position: relative;
      padding-bottom: 5px;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;

        background-color: #584030;
        transition: width 0.5s ease;
      }
      &:hover::before {
        width: 0;
      }
    }
  }
  .contact-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact {
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      h1 {
        margin-bottom: 1rem;
        letter-spacing: 0.5rem;
        word-spacing: 0.2rem;
        font-size: 3.2rem;
        font-style: italic;
        font-weight: 200;
        @media screen and (max-width: 576px) {
          font-size: 2.5rem;
          letter-spacing: 0rem;
          word-spacing: 0rem;
        }
      }
      p,
      span {
        font-size: 1.5rem;
        @media screen and (max-width: 576px) {
          font-size: 1.2rem;
        }
      }

      div {
        display: flex;
        gap: 1rem;

        .contact-number {
          text-decoration: underline;
        }
      }
    }
  }
}

// @keyframes slideUpFromBottom {
//   from {
//     transform: translateY(100%);
//     opacity: 0;
//   }
//   to {
//     transform: translateY(0);
//     opacity: 1;
//   }
// }
