.about-container {
  font-size: 2rem;

  .about-hero {
    margin-block: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    img {
      width: 750px;
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
  }
  .about-content {
    border: white 3rem solid;
    background-image: url("../../assets/about-page.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: left;

    // .about-img {
    //   width: 700px;
    //   margin-left: 3rem;
    //   margin-top: 3rem;
    // }

    .inner-div-content {
      padding-block: 5rem;
      width: 50%;

      @media screen and (max-width: 1280px) {
        width: 80%;
        font-size: 1rem;
      }
      @media screen and (max-width: 768px) {
        width: 95%;
        font-size: 1rem;
      }
      h2 {
        font-size: 4rem;
        padding-left: 3rem;
      }

      p {
        font-size: 1.5rem;
        margin-top: 2rem;
        padding-left: 5rem;
        line-height: 2.5rem;
      }
    }
  }

  a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #584030;
      transition: color 0.5s ease;
    }
    span {
      position: relative;
      padding-bottom: 5px;
      &::before {
        // Pseudo-element for the border animation
        content: "";
        position: absolute;
        bottom: 0;
        left: 0; // Initial position at left
        width: 100%; // Initial width 0
        height: 5px; // Border height

        background-color: #584030; // Border color
        transition: width 0.5s ease; // Transition effect
      }
      &:hover::before {
        // Change width on hover

        width: 0; // Full width on hover
      }
    }
  }

  .contact {
    height: 100vh;
    line-height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      margin-bottom: 1rem;
      letter-spacing: 0.5rem;
      word-spacing: 0.2rem;
      font-size: 3.2rem;
      font-style: italic;
      font-weight: 200;
    }
    p,
    span {
      font-size: 1.5rem;
    }

    div {
      display: flex;
      gap: 1rem;

      .contact-number {
        text-decoration: underline;
      }
    }
  }
}
