body.menu-open {
  overflow: hidden; 
}

body.menu-open::-webkit-scrollbar {
  display: none;
}

.navbar-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1c19195d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: serif;
    list-style: none;
    padding-inline: 2rem;
    z-index: 2;
    @media screen and (max-width: 768px) {
      flex-direction: row-reverse;
      padding-left: 1rem;
    }

    img {
      margin-top: 10px;
      width: 80%;
      max-width: 10rem;
    }
    .menu-icon {
      
      display: flex;
      gap: 10px;
      margin-right: 7px;
      .cross-icon {
        margin-left: 3.8rem;
      
      }
     
    }
    // .menu-icon svg {
    //   transition: transform 0.3s ease-in-out;
    // }
    .cart-ul.hidden {
      display: none;
    }

    .cart-ul {
      display: flex;
      gap: 1.2rem;

      a:-webkit-any-link {
        text-decoration: none;
      }

      .first-latter {
        font-size: 1.3rem;
         padding-inline: .7rem;
         cursor: pointer;
        color: black;
        background-color: white;
        border-radius: 50%;
        &:hover {
          background-color: #e0ab88;
        }
      }
      .cart-icon {
        font-size: 1.7rem;
        color: white;
        &:hover {
          color: #e0ab88;
        }
      }

      .cart-li .btn-badge {
        position: absolute;
        top: 0;
        right: 4.3rem;
        background-color: var(--black);
        color: var(--white);
        font-size: 1.2rem;
        min-width: 13px;
        height: 18px;
        line-height: 2.2;
        border-radius: 20px;
        font-weight: bold;
        color: #e0ab88;
  cursor: pointer;

      }
    }
  }
}
.dropdown-toggle::after {
  cursor: pointer;
  display: none;
}
