div {
  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1c19195a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    font-family: serif;
    list-style: none;
    z-index: 1;
    padding-inline: 2rem;
    z-index: 1;
    @media screen and (max-width: 990px) {
      z-index: 2;
    }
    img {
      margin-top: 10px;
      width: 80%;
      max-width: 10rem;
    }
    .menu-icon {
      display: flex;
      gap: 10px;
      margin-right: 7px;
    }
    .menu-icon svg {
      transition: transform 0.3s ease-in-out;
    }
    .cart-ul {
      display: flex;
      gap: 1.2rem;

      .first-latter {
        font-size: 1.6rem;
        padding-inline: 0.3rem;
        color: black;
        background-color: white;
        border-radius: 50%;
        &:hover {
          background-color: #e0ab88;
        }
      }
      .cart-icon {
        font-size: 1.7rem;
        color: white;
        &:hover {
          color: #e0ab88;
        }
      }
      .cart-li .btn-badge {
        position: absolute;
        top: 0;
        right: 2.1rem;
        background-color: var(--black);
        color: var(--white);
        font-size: 1.2rem;
        min-width: 13px;
        height: 18px;
        line-height: 2.2;
        border-radius: 20px;
        font-weight: bold;
        color: #e0ab88;
      }
    }
  }
}
