body.menu-open {
  overflow: hidden;
}

body.menu-open::-webkit-scrollbar {
  display: none;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  .navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #1c19195d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    font-family: serif;
    list-style: none;
    padding-inline: 2rem;
    z-index: 10;

    img {
      width: 80%;
      max-width: 10rem;

      
      @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 9rem;
        padding-left: 4rem;
        justify-content: center;
        align-items: center;
      }

      @media screen and (max-width: 576px) {
        padding-left: 2rem;
        max-width: 6rem;
      }
    }

    ul {
      margin-bottom: 0;
      display: flex;
      align-items: center;
    }
    
    ul{
      margin-bottom: 0;
  }

    .menu-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-right: 7px;

      .cross-icon {
        transform: rotate(90deg);
        margin-left: -3rem;
      }

      @media screen and (max-width: 768px) {
        margin-right: auto;
        font-size: 1rem;
        gap: 5px;

      }
    }

    .cart-ul {
      padding: 0;
      
      display: flex;
      margin: 0;
      align-items: center;
      gap: 1rem;
      justify-content: space-around;

      @media screen and (max-width: 768px) {
        margin-left: auto;
      }

      a:-webkit-any-link {
        text-decoration: none;
      }

      .first-letter {
        font-size: 1.3rem;
        padding-inline: 0.7rem;
        cursor: pointer;
        color: white;
        background-color: #333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        font-weight: bold;

        &:hover {
          background-color: #a36337;
          color: white;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.1rem;
          width: 1.4rem;
          height: 1.4rem;
         background-color: #333;
         color: white;
        }
      }

      .cart-icon {
        font-size: 1.7rem;
        color: white;

        &:hover {
          color: #e0ab88;
          background-color: black;
        }

        @media screen and (max-width: 768px) {
          font-size: 1.3rem;
        }
      }

      .cart-li {
        position: relative;

        .btn-badge {
          position: absolute;
          top: -0.4rem;
          right: -0.8rem;
          background-color: var(--black);
          color: var(--white);
          font-size: 1rem;
          min-width: 18px;
          height: 18px;
          line-height: 1.2;
          border-radius: 50%;
          font-weight: bold;
          color: #e0ab88;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;

          @media screen and (max-width: 768px) {
            font-size: 0.9rem;
            min-width: 16px;
            height: 16px;
          }

          @media screen and (max-width: 576px) {
            font-size: 0.8rem;
            min-width: 14px;
            height: 14px;
      
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      .cart-ul {
        order: 2;
        flex-grow: 1;
        justify-content: flex-end;
      }

      .menu-icon {
        order: 1;
      }
    }
  }
}

.dropdown-menu.show {
  border: #8a654c solid 2px;
}

.dropdown-item:hover {
  background-color: #e0ab88;
}

.dropdown-item:active {
  background-color: #e0ab88;
}

.dropdown-toggle::after {
  cursor: pointer;
  display: none;
}

/* Responsive Design */
@media screen and (max-width: 1024px) {
  .navbar-container {
    .navbar {
      padding-inline: 1rem;

      .menu-icon {
        font-size: 1.1rem;
      }

      .cart-ul {
        gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar-container {
    .navbar {
      padding-inline: 2.5rem;

      .menu-icon {
        font-size: 1rem;
        margin-left: -2rem;
        margin-right: 12rem;
        gap: 5px;
      }

      .cart-ul {
        flex-grow: 1;
        justify-content: flex-end;
      }

      .first-letter {
        font-size: 1rem;
        width: 2rem;
        height: 2rem;
      }

      .cart-icon {
        font-size: 1.3rem;
      }

      .cart-li .btn-badge {
        font-size: 0.9rem;
        top: -0.4rem;
        right: -0.4rem;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .navbar-container {
    .navbar {
      padding-inline: 0.9rem;

      .menu-icon {
        font-size: 1rem;
        margin-left: -2rem;
        margin-right: 7rem;
        gap: 3px;
      }

      .cart-ul {
        gap: 0.3rem;
      }

      .first-letter {
        font-size: 0.9rem;
        width: 1.2rem;
        height: 1.2rem;
      }

      .cart-icon {
        font-size: 1.2rem;
      }

      .cart-li .btn-badge {
        font-size: 0.8rem;
        top: -0.3rem;
        right: -0.3rem;
      }
    }
  }
}
