.contact-container {
  .visit-us {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../../assets/contact01.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    font-family: serif;
    h1 {
      letter-spacing: 1.5rem;
      font-size: 3.5rem;
      padding-bottom: 15rem;
      text-shadow: 3px 3px 7px black;
    }
  }
  .contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .contact-div {
      width: 50%;
      margin-top: 10rem;
      @media screen and (max-width: 768px) {
        width: 75%;
      }

      h1 {
        padding-bottom: 1rem;
        border-bottom: 2px solid #b08568;
        width: fit-content;
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
      }
      p {
        margin-block: 2rem;
        line-height: 1.6rem;
        font-size: 1.3rem;
      }
      .contact-form {
        gap: 2rem;
        display: flex;
        flex-direction: column;
        .input-div {
          display: flex;
          gap: 2rem;

          @media screen and (max-width: 768px) {
            flex-direction: column;
          }
          input {
            background-color: #1c1919;
            color: white;
            border: none;
            outline: none;
            width: 100%;
            border-bottom: 2px solid rgba(255, 255, 255, 0.409);
            padding: 20px;
            font-size: 1rem;
          }
        }
        textarea {
          background-color: transparent;
          color: white;
          border: 2px solid rgba(255, 255, 255, 0.409);
          padding: 1rem;
        }
        button {
          padding: 8px;
          width: 130px;
          margin-top: 1rem;
          font-size: 1.2rem;
          background-color: #b08568d3;
          border-radius: 10px;
          border: #b08568 solid 2px;
          &:hover {
            background-color: #b08568;
            border: #ffffff5e solid 2px;
          }
        }
      }
    }
    .location-div {
      width: 50%;

      margin-top: 5rem;
      margin-bottom: 2rem;
      @media screen and (max-width: 768px) {
        width: 75%;
      }
      h2 {
        text-shadow: 1px 1px 5px black;
        background-color: #b085686c;
        margin-bottom: 2rem;
        letter-spacing: 0.3rem;
        padding: 0.2rem;
        line-height: 2rem;
      }
      p {
        line-height: 2rem;
        font-size: 1.3rem;
      }
    }
  }
}
