.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;

  .page {
    display: flex;
    align-items: center;
    color: white;
    font-family: serif;
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    z-index: 0;
    will-change: auto;

    .inner-page-div {
      line-height: 3rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5rem;
      @media screen and (max-width: 768px) {
        line-height: 2rem;
        padding: 3rem;
      }
      p {
        margin-top: 1rem;
        font-size: 1.8rem;
        @media screen and (max-width: 768px) {
          font-size: 1.2rem;
          line-height: 2rem;
        }
      }
    }
    a {
      text-decoration: none;
      margin-top: 1rem;

      span {
        position: relative;
        padding-bottom: 5px;
        color: black;
        font-size: 2rem;
        @media screen and (max-width: 768px) {
          font-size: 1.8rem;
        }
        &:hover {
          color: rgba(255, 255, 255, 0.679);
          transition: color 0.5s ease;
        }

        &::before {
          // Pseudo-element for the border animation
          content: "";
          position: absolute;
          bottom: 0;
          left: 0; // Initial position at left
          width: 100%; // Initial width 0
          height: 5px; // Border height

          background-color: black; // Border color
          transition: width 0.5s ease; // Transition effect
        }
        &:hover::before {
          // Change width on hover

          width: 0; // Full width on hover
        }
      }
    }

    .about {
      max-width: 750px;
      width: 90%;
      height: fit-content;
      margin-left: 5rem;
      background-color: #58403083;

      h1 {
        color: white;
        width: fit-content;
        border-bottom: white solid 2px;
      }
      h3 {
        font-size: 2.5rem;

        @media screen and (max-width: 768px) {
          font-size: 1.8rem;
        }
      }
    }
    &.active {
      z-index: 1;
      visibility: visible;
      transform: translateY(0);
      transition: transform ease-out 2s;
    }
    &.inactive {
      z-index: 0;
      visibility: hidden;
      transform: translateY(100vh);
      transition: transform ease-out 2s;
    }
  }
}
.page-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.page {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  image-rendering: -webkit-optimize-contrast;
}

.page1 {
  background-image: url("../../assets/hero206.jpg");
}

.page2 {
  background-image: url("../../assets/pedicure2.jpg");
}

.page3 {
  background-image: url("../../assets/woman-doing-her-selfcare-ritual\ \(2\).jpg");
}

.page4 {
  background-image: url("../../assets/about-home.jpg");
}

.page5 {
  background-image: url("../../assets/contct-home03.jpg");
  background-position: top;
}
