.register-container {
  background-color: #1C1919;
  color: rgba(255, 255, 255, 0.77);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  .register-form {
    font-family: serif;
    font-style: italic;
    font-size: 2rem;
    width: 650px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    box-shadow: 3px 3px 15px -5px #B08568;
    //box-shadow: 0px 5px 15px -2px rgb(0, 0, 0);
    border-radius: 25px;
    @media screen and (max-width: 768px) {
      width: 500px;
      box-shadow: none;
      border-radius: 0;
    }
    transition: transform 0.7s ease, opacity 0.7s ease;
    transform-origin: bottom;
    p {
      letter-spacing: 0.2rem;
    }
    .register-input {
      background-color: #1C1919;
      color: rgba(255, 255, 255, 0.645);
      border: none;
      outline: none;
      width: 100%;
      padding: 20px;
      font-size: 1rem;
      &::placeholder {
        color: white;
        font-size: 1rem;
      }
    }
    .input-div {
      width: 100%;
      border-bottom: 2px solid #B08568;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .eye-icon {
        font-size: 1rem;
        padding-right: 1rem;
      }
    }
    .register-div {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .login {
        color: #b0856885;
        padding-top: 38px;
        font-size: 1.2rem;
      }
      .register-button {
        padding: 8px;
        width: 120px;
        margin-top: 2rem;
        font-size: 1.2rem;
        background-color: #b08568d3;
        border-radius: 10px;
        border: #B08568 solid 2px;
        &:hover {
          background-color: #B08568;
          border: #ffffff5e solid 2px;
        }
      }
    }
  }
}